#personalMenu{
	border-bottom: 1px solid #e7e8ea;
	margin-bottom: 24px;
	overflow: hidden;
	list-style: none;
	padding: 0;
}

#personalMenu li{
	margin-bottom: 24px;
	margin-right: 24px;
	float: left;
}

#personalMenu li:last-child{
	margin-right: 0;
}

#personalMenu li a{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
	color: #000000;
}

#personalMenu li a:active{
	position: relative;
	top: 1px;
}

#personalMenu li .selected{
	border-bottom: 1px dashed #000000;
	font-family: 'robotobold';
	padding-bottom: 4px;
}

#personalMenu li .selected:hover{
	color: #000000;
}